.headingText{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}


.preViewImage-box{
    display: flex;
    flex-direction: column;
    height: 200px;

}

.preViewImage{
    object-fit: contain;
    height: inherit;
}


